
img.inline {
    vertical-align: middle;
    height: 25px;
}




span.button {
    background-color: orange; 
    padding: 10px 24px;
    margin-bottom: 10px; 
    margin-right: 7px;
}

span.button.orange {
    background-color: orange; 
}

span.button.blue {
    background-color: blue; 
}

span.button.green {
    background-color: green; 
}

span.button a {
    color: white; 
    font-size: 12pt; 
    align-items: center; 
    row-gap: 7px; 
    column-gap: 7px;
    text-decoration: none; /* Optional: remove underline */
}

/* Prevent color change on hover */
span.button a:hover {
    color: inherit; /* Keep the same color on hover */
}

span.button a img {
    width: 20px; 
    vertical-align: middle;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img.c300 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
}

img.c400 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

img.c600 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
}

/* Forms  */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    flex-basis: 45%;
}

.form-group input {
    flex-basis: 50%;
    padding: 5px;
    font-size: 14px;
}

.hidden-field {
    display: none;
}

button {
    padding: 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


