name: Notify Telemetry

on: [push, fork]

jobs:
  notify_telemetry:
    runs-on: ubuntu-latest
    steps:

    - name: Tell The League that the student has pushed code
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        REPO_URL: ${{ github.repositoryUrl }}
        COMMIT: ${{ github.sha }}
        EVENT_TYPE: ${{ github.event_name }}
        DATE_TIME: ${{ github.event.head_commit.timestamp }}
      run: |
        curl -X POST https://student-registration.do.jointheleague.org/github/activity \
        -H "Content-Type: application/json" \
          -d '{"username": "'"${GITHUB_USERNAME}"'",  "date_time": "'"${DATE_TIME}"'", "repo_url": "'"${REPO_URL}"'", "commit": "'"${COMMIT}"'", "event_type": "'"${EVENT_TYPE}"'"}'

          